<h2>Listado de personas</h2>
<app-persona></app-persona>
<div>
  <button
    [className]="classButton"
    [disabled]="disableButton"
    (click)="onClick()"
  >
    {{ labelButton }}
  </button>
  <br />
  <p *ngIf="clicks > 0">Se han dado {{ clicks }} clicks</p>
  <div class="row">
    <div class="col" style="text-align: left;">
      <div class="form-group">
        <label for="inputText">Texto:</label>
        <input
          id="inputText"
          class="form-control"
          type="text"
          name="inputText"
          [(ngModel)]="textValue"
        />
        {{ textValue }}
      </div>
    </div>
  </div>
</div>
