<h2>Listado de personas</h2>
<app-persona></app-persona>

<div>
  <ng-template #noClickCounter>
    <p style="color: red;">Da click al boton</p>
  </ng-template>
  <button
    [className]="classButton"
    [disabled]="disableButton"
    (click)="onClick()"
  >
    {{ labelButton }}
  </button>
  <br />
  <p *ngIf="clicks > 0; else noClickCounter">Se han dado {{ clicks }} clicks</p>
  <div class="row">
    <div class="col">
      <ng-template #emptyName>
        <p>Ingresa tu nombre</p>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col" style="text-align: left;">
      <div class="form-group">
        <label for="inputText">Nombre:</label>
        <input
          id="inputText"
          class="form-control"
          type="text"
          name="inputText"
          [(ngModel)]="textValue"
        />
        <p *ngIf="textValue; else emptyName">Hola {{ textValue }}!</p>
      </div>
    </div>
  </div>
</div>
